<br>
<h1><%= Building.find(params[:id]).building_name %></h1>
<!-- 등록된 방 없으면 문장 띄울까 계획 중 -->
<div class="row mb-2">
<% current_user.buildings.find(@building_id).rooms.each do |room| %>
  <div class="col-md-3">
       <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative rounded">
            <div class="col p-4 d-flex flex-column position-static align-items-center card bg-light">
   <strong class="d-inline-block mb-2 text-primary rounded-pill"><h3> <%= room.room_number %></h3> </strong>
   <% if room.tenants.present? %>
       <strong><%= room.tenants.last.tenant_name %> </strong>
       <strong class="d-inline-block mb-2 text-primary"><%= room.tenants.last.tenant_deposit / 10000 %> / <%= room.tenants.last.tenant_rentfee / 10000 %> </strong>
   <% else %>
       <strong>세입자 없음</strong>
   <% end %>
    <div class="btn-group" role="group" aria-label="Basic example">
    <a href="/buildings/<%= @building_id %>/rooms/show/<%= room.id %>"><button type="button" class="btn btn-light"> 관리</button></a>
    <a href="/buildings/<%= @building_id %>/rooms/edit/<%= room.id %>"><button type="button" class="btn btn-light"> 수정</button></a>
    <a href="/rooms/destroy/<%= room.id %>"><button type="button" class="btn btn-light">삭제</button></a>
    </div>
    </div>
    </div>
    </div>
<% end %>
</div>
<section class ="text-center">
<div>
<% if user_signed_in? %>
<a class="btn btn-primary rounded-pill" href="/buildings/<%= @building_id %>/rooms/new" role="button" style="margin-right: 2vw;">새로운 방 추가하기</a>
<% else %>
<% end %>
<a class="btn btn-primary rounded-pill" href="<%= buildings_buildings_index_path %>" role="button">건물 관리로 돌아가기</a>
</div>
</section>
<style>
    .card {
        height: 30vh;
    }
</style>