<h1><%= Building.find(params[:building_id]).building_name %> <%= Room.find(params[:id]).room_number %></h1>

<% tenant = Tenant.find_by(room_id: params[:id]) %>
<% if tenant.present? %>
    세입자 이름: <%= tenant.tenant_name %>
    <br>
    성별: <%= tenant.tenant_gender %>
    <br>
    전화번호: <%= tenant.tenant_phone %>
    <br>
    계약 기간: <%= tenant.tenant_period %>
    <br>
    입주일: <%= tenant.tenant_startdate %>
    <br>
    만료일: <%= tenant.tenant_enddate %>
    <br>
    보증금: <%= number_to_currency(tenant.tenant_deposit, precision: 0, delimiter: ",", unit: "") %>원
    <br>
    월세: <%= number_to_currency(tenant.tenant_rentfee, precision: 0, delimiter: ",", unit: "") %>원
    <br>
    관리비: <%= number_to_currency(tenant.tenant_mtnfee, precision: 0, delimiter: ",", unit: "") %>원
    <br>
    메모: <%= tenant.tenant_memo %>
    <br>
    <a href="/buildings/<%= @building_id %>/rooms/<%= @room.id %>/tenants/edit/<%= tenant.id %>">세입자 정보 수정</a>
    <a href="/buildings/<%= @building_id %>/rooms/<%= @room.id %>/tenants/destroy/<%= tenant.id %>">세입자 정보 삭제</a>
    <div class="accordion" id="accordionExample">
      <div class="card">
        <div class="card-header" id="headingOne">
          <h2 class="mb-0">
            <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
              월세 납부 내역 관리
            </button>
          </h2>
        </div>
    
        <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
          <div class="card-body">
            <table class="table">
              <thead>
                <tr>
                  <th scope="col">날짜</th>
                  <th scope="col">납부 확인</th>
                </tr>
              </thead>
              <tbody>
                  <% 12.times do |n| %>
                    <tr>
                      <th scope="row"><%= (tenant.tenant_startdate + n.month).strftime("%Y-%m") %></th>
                      <td><input type="checkbox"></td>
                    </tr>
                  <% end %>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>

<% else %>
<% if user_signed_in? %>
    <h2>세입자가 없습니다!</h2>
    <a href="/buildings/<%= @building_id %>/rooms/<%= @room.id %>/tenants/new">세입자 등록하기</a>
<% else %>
<% end %>
<hr>
<%= link_to "방 관리로 돌아가기", buildings_buildings_index_path %>
<% end %>