<h1><%= Building.find(params[:building_id]).building_name %> <%= Room.find(params[:id]).room_number %></h1>

<% @tenants.each do |tenant| %>
    세입자 이름: <%= tenant.tenant_name %>
    <br>
    성별: <%= tenant.tenant_gender %>
    <br>
    전화번호: <%= tenant.tenant_phone %>
    <br>
    계약 기간: <%= tenant.tenant_period %>
    <br>
    입주일: <%= tenant.tenant_startdate %>
    <br>
    만료일: <%= tenant.tenant_enddate %>
    <br>
    보증금: <%= number_to_currency(tenant.tenant_deposit, precision: 0, delimiter: ",", unit: "") %>원
    <br>
    월세: <%= number_to_currency(tenant.tenant_rentfee, precision: 0, delimiter: ",", unit: "") %>원
    <br>
    관리비: <%= number_to_currency(tenant.tenant_mtnfee, precision: 0, delimiter: ",", unit: "") %>원
    <br>
    메모: <%= tenant.tenant_memo %>
    <br>
    <a href="/buildings/<%= @building_id %>/rooms/show/<%= @room.id %>">세입자 관리</a>
    <a href="/buildings/<%= @building_id %>/rooms/<%= @room.id %>/tenants/edit/<%= tenant.id %>">세입자 정보 수정</a>
    <a href="/buildings/<%= @building_id %>/rooms/<%= @room.id %>/tenants/destroy/<%= tenant.id %>">세입자 정보 삭제</a>
    <br>
    <hr>
<% end %>

<% if user_signed_in? %>
    <a href="/buildings/<%= @building_id %>/rooms/<%= @room.id %>/tenants/new">세입자 등록하기</a>
<% else %>
<% end %>
<hr>
<a href="<%= buildings_buildings_index_path %>">방 관리로 돌아가기</a>