<% @posts.each do |post| %>
    title : <%= post.title %>
    <br>
    content : <%= post.content.html_safe %>
    <br>
    <a href="/posts/show/<%= post.id %>">보기</a>
    <a href="/posts/edit/<%= post.id %>">수정</a>
    <a href="/posts/destroy/<%= post.id %>">삭제</a>
    <hr>
<% end %>


<% if user_signed_in? %>
    <a href="/posts/new">글쓰기</a>
<% else %>
<% end %>

